<div class="nimei">
    <img src="${ require('../../assert/logo.png') }">
    <div>this is <%= name %> layer</div>
    <% for (var i = 0; i < arr.length; i++) {%>
        <%= arr[i] %>
    <% } %>
</div>